################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Api
/src/Api/.vs
/src/Applictaion/obj
/src/Domain/obj
/src/Api/Api/obj
/src/Infrastructure/obj/Debug/net8.0
/src/Infrastructure/obj
/src/Applictaion/bin/Debug/net8.0
/src/Infrastructure/bin/Debug/net8.0
/src/Domain/bin/Debug/net8.0
**/[Bb]in/
**/[Oo]bj/

/src/.vs/ProjectEvaluation
